<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Spam your Bitcoins</title>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">
		<style type="text/css">
			body {
				padding-top: 40px;
				padding-bottom: 40px;

				}
			
			p.mailaddress {
				back
				}
			i.icon-remove-sign {
				float:right;
				}
			div.label {
				margin:2px;
			}
			
			span.surplus {
				color:green;
				font-size: 18px;
				font-weight: bold;
				}
			span.negative {
				color:red;
				font-size: 18px;
				font-weight: bold;
				}
			span.neutral {
				color:orange;
				font-size: 18px;
				font-weight: bold;
				}
		</style>
		<script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
	</head>
<body>
<div class="container">
	<div class= "well">
		<h1>Spam your bitcoins!</h1>
			<p>This is experimental app to spam bitcoins via email using 
				<a href="https://easywallet.org/fi/api">
				<img style="height:25px;" src="https://easywallet.org/static/img/logo-medium.png"></a>
		API. Please use this app with caution. If you want to use this app,
		 it is strongly recommended to create new wallet for that purpose.</p>
		<p>You can find the source code of the project from 
		<a href="https://github.com/nikla/bitcoin_spammer"> GitHub, </a>
		and check how the API is used.</p>
	</div>
	<div class="row">
		<div class="span6" >
			
				
					<div class="form-inline well">
						<h3 id="wallet_id_display">Wallet id: </h3>
						<input id="wallet_id_form" type="text" 
						placeholder="Your easywallet.org id here...">
						<button type="submit" class="btn" id="refresh_wallet">Refresh</button>
					</div>

			
		
		
		
		</div>
		<div class="span6">
			<div class="well">
				<h3>Wallet info:</h3>
				<div><p style="font-size:18px;">Balance: <span id="walletbalance" class="neutral"> 0 BC</span></p></div>
				<p style="font-size:18px;">Total Cost: <span id="costofspam" class="neutral"> 0 BC</span></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div id="mailform" class="well">
				<div>
					<p>BC per recipient: <span class="">(0.01 BC minimum)</span></p>
					<input id="amount_to_send" type="text" 
					placeholder="amount to send/recipient..." value="0.01">
				</div>
				<div id="mailfield">
					<p>Recipient e-mail address: <span class="">(Bitcoin addresses works as well)</span></p>
					<input id="email" type="text" placeholder="e-mail recipient">
				</div>
				<button id ="add_mail" type="submit" class="btn btn-secondary">
					<i class="icon-envelope"></i>
				Add email to list
				</button>
				
				<button id ="send_bitcoins" type="submit" class="btn btn-primary">
					Send bitcoins!
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class = "well">
				<p id="recipients">Recipients: 0</p>
			</div>
		</div>
	</div>

	
	
	<script src="static/jquery-1.7.2.min.js"></script>
		<script>
			
		// Function to add e-mails to list
		$(function(){
			$("#add_mail").click( function(){
				
				if ($('#email').val() != "") {
					var d = '<div  class="eadress alert alert-info"><span>' 
					d+=$('#email').val();
					d+='</span><button class="close">&times;</button></div>';
					$('#recipients').after(d);
					$('#mailfield').removeClass("error");
					$('#mailfield').addClass("control-group success")
					.delay(800).queue(function(next){
							 $('#mailfield').removeClass("success");
							});
					$('#email').val('');
					updateData();
				} else {
					$('#mailfield').addClass("control-group error");
					$('#mailfield').removeClass("success");
					updateData();
				}
				
			}).on("click", hoveri);

			
		});


		function hoveri() {
			var lastClass;
			
			$("div.eadress").hover(
				function () {
					if ($(this).hasClass('alert-info')) {
						lastClass = "alert-info";
						$(this).removeClass(lastClass);
					} else if ($(this).hasClass('alert-error')) {
						lastClass = "alert-error";
						$(this).removeClass(lastClass);
					} else if ($(this).hasClass('alert-success')) {
						lastClass = "alert-success";
						$(this).removeClass(lastClass);
					}
				},
				function () {
					$(this).addClass(lastClass);
					lastClass = "alert-info";
				}
			).on("hover", removemail);
			
			
		}
		function removemail() {
			$("div.alert > button").click(
				function () {
					
					$(this).parent().remove();
					updateData();
				}
			);
		}
		
		function updateData() {
			var n = $("div.eadress").length;
			$('#recipients').text("Recipients: " + n);
			var moneyPerUser = 0;
			moneyPerUser = parseFloat($("#amount_to_send").val());
			var costOfSpam = n*moneyPerUser;
			$("#costofspam").text(costOfSpam + " BC");
			var balance = parseFloat($("#walletbalance").text());
			if(costOfSpam > balance) {
				$("#costofspam").removeClass("neutral");
				$("#costofspam").addClass("negative");
			} else if (balance >= costOfSpam) {
				$("#costofspam").addClass("surplus");
				$("#costofspam").removeClass("negative");
			}
		}

		$("#amount_to_send").keyup(function(){
			updateData();
		}).change();

		$("#refresh_wallet").click(
			function() {
				var walletid = $('#wallet_id_form').val();
				$.post('', {walletid: walletid}, function(data){
					var obj = jQuery.parseJSON(data);
					$("#walletbalance").text(obj.balance+ " BC");
					$('#wallet_id_form').val(obj.walletid);
					updateData();
				});	
			});
			
		$('#send_bitcoins').click(
			function() {
				if ($("#costofspam").hasClass('surplus')) {
					$("div.eadress > span").each(function(index) {
						var walletid = $('#wallet_id_form').val();
						var emailaddress = $(this).text();
						var success;
						var maildiv  = $(this);
						var moneyPerUser = parseFloat($("#amount_to_send").val());
						$.post('sendcoins', {walletid: walletid, amount: moneyPerUser,
								email: emailaddress}, function(data){
							var obj = jQuery.parseJSON(data);
							if (obj.successful) {
								maildiv.parent().addClass("alert-success");
								maildiv.parent().removeClass("alert-info");
								maildiv.parent().removeClass("alert-error");
							} else {
								maildiv.parent().addClass("alert-error");
								maildiv.parent().removeClass("alert-info");
								maildiv.parent().removeClass("alert-success");
							}
							updateData();
						});
						
						

					});
				} else {
					alert("No money in wallet!");
				}
			}
		);
		
		</script>
		
	<br>
	
</div>
	</body>
</html>
